@model Exercice1_Web.Models.Operation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Historique</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
